#################### WELCOME SCREEN #####################
clear                                                   #
cat ~/.shell 2> /dev/null                               #
echo "             `date`"; echo ""                     #
#########################################################
